---
layout: default
titleAfter: steller
---


<h1>Planets of the Universe</h1>
<p>A few planets in the Universe</p>

<h2>Planet Types</h2>
<ol>
    {% for planet in site.data.planet-types  %}
    <li>
        <a href="{{site.baseurl}}/planets/{{planet.folder}}">{{planet.title}}</a>
        {{planet.content | markdownify}}
    </li>
    {% endfor %}
</ol>


<h2>Recently discoverd planets</h2>
<ul>
    {% for news in site.categories.recently-discovered limit:2 %}
    <li>
        <a href="">{{news.title}}</a>
        <p>{{news.meta}}</p>
    </li>
    {% endfor %}
</ul>